@import url("font/stylesheet.css");
@import url("font2/stylesheet.css");

.header{
    display: flex;
    justify-content: flex-start;
    background-color: white;
}
.header-tablet{
    display: none;
}
.content{
    margin: 0 auto;
}

.container{
    max-width: 1062px;
    margin-bottom: 70px;
}
.logo{
flex-basis: 582px;
    text-align: right;
    margin: auto 0;
    padding: 0 22px 3px 22px;
}
.menu{
    flex-basis: 1293px;
}

.menu__top{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 104px;
    flex-basis: 1293px;
}

.menu__bottom{
    height: 72px;
    border-left: #E4E8E9 solid 1px;
    padding: 0 16px 0 10px;

}
.top-sections__social-network{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 542px;
    border-left: #E4E8E9 solid 1px;
    border-bottom: #E4E8E9 solid 1px;
}
.footer-text__text_hidden{
    display: none;
}
.social-network{
    padding: 0 10px;
}
.top-sections__language{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00377B;
flex-basis: 104px;
    text-align: center;
    border-left: #E4E8E9 solid 1px;
    border-bottom: #E4E8E9 solid 1px;
    display: flex;
}
.center{
    margin: auto;
}

.top-sections__profile{
    position: relative;
    flex-basis: 219px;
    text-align: center;
    border-left: #E4E8E9 solid 1px;
    border-bottom: #E4E8E9 solid 1px;
    border-right: #E4E8E9 solid 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.top-sections__search{
    flex-basis: 104px;
    text-align: center;
    border-left: #E4E8E9 solid 1px;
    border-bottom: #E4E8E9 solid 1px;
    display: flex;
}



.top-sections__date{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1268B3;

}
.top-sections__days{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F04E30;
}

.void{
    border-bottom: #E4E8E9 solid 1px;
    height: 103px;
    flex-basis: 320px;
}


.bottom-section__list{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-right: 320px;

}
.text{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00377B;
    display: flex;
    align-items: center;
}
.events{
    padding: 0 0 0 1px;
}
.news{
    padding: 0 0 0 0px;
}
.text__center{
margin: auto 0;
}
.text:hover{
    transition: color;
    color: red;
    z-index: 1000;
    box-shadow: inset 0 -4px #F04E30
}

.delegation{
    margin-bottom: 100px;
}
.delegation__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.information__for-delegation{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00377B;
}
.information__documents{
    background: #00377B;
    width: 158px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease ;
}
.information__documents:hover{
    background: rebeccapurple;

}
.information__text{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.delegation__main-text, .delegation__sub-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #14313C;
    margin-bottom: 30px;
}
.delegation__sub-text{
    margin-bottom: 25px;

}
.delegation__footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.delegation__email{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #1268B3;
    margin-left: 20px;
    text-decoration:none;
}


.blocks{
    display: flex;
    justify-content: space-evenly;
}
.left-blocks{
    flex-wrap: wrap;
    width: 500px;
    display: flex;
    align-content: space-between;
}
.right-blocks{
    flex-wrap: wrap;
    width: 500px;
    display: flex;
    align-content: space-between;
    margin-bottom: 200px;

}
.left-blocks__text{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00377B;
    margin-bottom: 182px;
}

.blocks__img{
    margin-bottom: 100px;
    transition: transform 1s;
}
.blocks__img:hover{
    transform: scale(1.2);
}

.vector{    flex-wrap: wrap;
    display: flex;
    align-content: space-between;

    margin-bottom: 100px;
}

.footer__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}



.footer{
    padding: 42px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.up{
    position: absolute;
    right: 84px;
    bottom: 40px;
}

p, ul, body{
    margin: 0;
    padding: 0;
}
body{
    background: #E5E5E5;

}
li {
    list-style-type: none;
}
main{
    position: relative;
}
footer{
    background: #00377B;
}
.user__name{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #00377B;
    margin: -3px 0 5px 0;
}
.user__exit{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #1268B3;
    margin: 0;

}
.user__block{
    text-align: left;
    margin-left: 12px;
}
.arrow{
    position: relative;
    top: -2px;
}
#media, #general{
    display: none;
}


.menu-btn{
    cursor: pointer;
    z-index: 1;
}
#menu-toggle:checked ~ #rotate .arrow, #general:checked ~ .burger .arrow {
    transform: rotate(180deg);
}
.menubox{
    z-index: 10;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu-item {
    display: block;
    padding: 12px 24px;
    font-family: TT Bricks;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00377B;
    text-decoration: none;
}
.menu-item:hover {
    background-color: #CFD8DC;
}
#menu-toggle{
    display: none;
}
#menu-toggle:checked ~ .menubox, #close__menu:checked ~ .menubox{
    visibility: visible;
    right: 0;
}



.burger:hover{
    cursor: pointer;
}
.general-checkbox{
    position: relative;
}
.burger-box{
    position: absolute;
    display: none;
    top: 72px;
    left: -20px;
    width: 200px;
    height: auto;
    list-style: none;
    background-color: #ffffff;
    transition-duration: .25s;
    z-index: 100;
}

.burger-item {
    display: block;
    padding: 12px 24px;
    font-family: TT Bricks;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00377B;
    text-decoration: none;
}
.burger-item:hover {
    background-color: #F0EFE9;
    box-shadow: inset 2px 0 #F04E30
}
#general:checked ~ .burger-box{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
}
#close__menu{
    display: none;
}



.bio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 22px 0 4px 0;
}
.bio__header{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #1268B3;
    margin-left: 12px;
}
.dina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.dina__h1{
    margin-bottom: 40px;
    font-family: TT Bricks;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00377B;
}
.dina__h2{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.04em;
    color: #F04E30;
}
.dina__img{
    padding-top: 26px;
}
.dina__photo{
    position: relative;
}
.dina-vexels__vexel{
    position: absolute;
    left: -20px;
    top: 188px;
}
.dina-vexels__ball{
    position: absolute;
    right: 8px;
    top: 39px;
}



.information{
    max-width: 1062px;
    min-height: 667px;
    background-color: #fff;
}
.information__content{
    padding: 32px 32px 0 32px;
    display: grid;
    height: 338px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
}
.country{
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: 1px #E4E8E9 solid;
    border-right: 1px #E4E8E9 solid;

}
.country__kind{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 19px;
}
.sport{
    grid-column: 1/2;
    grid-row: 2/3;
    border-bottom: 1px #E4E8E9 solid;
    border-right: 1px #E4E8E9 solid;
}
.sport__kind{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 0 0 10px;
}

.university{
    grid-column: 1/2;
    grid-row: 3/4;
    border-bottom: 1px #E4E8E9 solid;
    border-right: 1px #E4E8E9 solid;

}
.info{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
}
.sex, .birthday{
    flex-basis: 185px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px #E4E8E9 solid;
    border-right: 1px #E4E8E9 solid;

}

.age{
    flex-basis: 126px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px #E4E8E9 solid;

}
.discipline{
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom: 1px #E4E8E9 solid;

}
.social-network__info{
    grid-column: 2/3;
    grid-row: 3/4;
    border-bottom: 1px #E4E8E9 solid;

}

.info-text-header{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #72838A;
    margin: 0;
    padding: 26px 0 0 0;
}
.info-text-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #00377B;
    margin: 0;
    padding: 19px 0 0 0;
}

.info-text-text__kind{
    padding:  0  0 0  22px;
}

.info-text-text__flag{
    padding:  0  0 0  12px;
}
.left{
padding-left: 33px;
}
.social-network__img{
    max-width: 296px;
    margin-left: 22px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
}
.social-network__icon{
    padding: 0 12px;
}
.bonus-info{
    padding: 8px 32px  32px 32px;

}
.bonus-info__text{
    padding-top: 20px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #14313C;
}
.bonus-info__bottom-text{
    padding-top: 28px;
}
.news-about{
    max-width: 1062px;
    margin-top: 64px;
    margin-bottom: 160px;
}
.news-about__header{
    font-family: TT Bricks;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #00377B;
    margin: 29px 0;
}
.news-about__title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #00377B;
    padding: 20px 32px;
    margin-bottom: 12px;
    margin-top: 0;
    background-color: white;
    box-shadow: 0px 2px 24px 0px #827C6714;
}


footer{
    background-color: #00377B;
    min-height: 202px;
}
.footer-content{
    margin: 0 16.666%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer-text{
    padding-top: 44px;
    min-width: 514px;

}
.footer-text__email{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 13px;
}
.footer-text__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    padding-top: 22px;
}
.footer-text__logo{
    padding-top: 42px;
}




@media screen and (max-width: 1094px) {
    .information__content{
        height: 451px;

        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .content{
        margin: 0 16px;
    }
    header{
        background-color: #fff;

    }

    .header{
        display: none;
    }
    .header-tablet{
        height: 96px;
        display: flex;
        padding: 23px;
        justify-content: space-between;
        align-items: center;

    }
    .header-tablet__img{
        align-items: center;
        justify-content: center;
    }
    .header-tablet__search{
        padding-right: 35px;
    }


    .country{
        grid-column: 1/3;
        grid-row: 1/2;
        border: none;
    }
    .info{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        border:  1px #E4E8E9 solid;
        border-left: none;
        border-right: none;
    }

    .sport{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .university{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .discipline{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .social-network__info{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .info-text-text.left{
        padding-bottom: 24px;
        border: none;
    }
    .country__kind{
        padding-bottom: 23px;
    }
    .social-network__icon{
        padding: 0 0;
    }

    .sex, .birthday{
        flex-basis: 33%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-right:  1px #E4E8E9 solid;
    }
    .age{
        flex-basis: 33%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: none;
    }
    .footer-content{
    }
}
@media screen and (max-width: 320px) {
    .logo__logo{
        width: 153px;
    }
    .dina__h1{
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
    .dina__h2{
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }
    .dina{
        justify-content: center;
    }
main{
    margin-bottom: 160px;

}
    .footer-content{
        justify-content: center;
    }
    .footer-text{
        width: 100%;
        text-align: center;
    }
    .footer-text__email{
        overflow-wrap:break-word;
    }
    .footer-text__text{
        display: none;
    }
    .footer-text__text_hidden{
        display: block;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.8;
        padding-top: 22px;
    }
}
